option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /actuator/health
    HealthCheckProtocol: HTTPS
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:docker:
    HealthCheckSuccessThreshold: 2
    HealthCheckInterval: 60
    HealthCheckTimeout: 20
    HealthCheckStartPeriod: 60